[Unit]
Description=Mail Postfix
After=network.target

[Service]
Type=forking
ExecStart=/opt/app/mail/postfix/usr/sbin/postfix -c /opt/app/mail/config/postfix start
ExecStop=/opt/app/mail/postfix/usr/sbin/postfix -c /opt/app/mail/config/postfix stop
Restart=always

[Install]
WantedBy=multi-user.target
