[Unit]
Description = Mail Dovecot

[Service]
Environment=LD_LIBRARY_PATH=/opt/app/mail/dovecot/lib/dovecot
Type=simple
ExecStart=/opt/app/mail/dovecot/sbin/dovecot -F -c /opt/app/mail/config/dovecot/dovecot.conf
NonBlocking=yes

[Install]
WantedBy = multi-user.target
