[Unit]
Description=Mail Dovecot activation socket

[Socket]
#dovecot expects separate IPv4 and IPv6 sockets
;BindIPv6Only=ipv6-only
ListenStream=143
ListenStream=993
;KeepAlive=true

[Install]
WantedBy=sockets.target
