[Unit]
Description=Mail Postfix
After=network.target

[Service]
Type=forking
Environment=SNAP_COMMON={{ app_data_dir }}
ExecStart={{ app_dir }}/bin/service.postfix.sh start
ExecStop={{ app_dir }}/bin/service.postfix.sh stop
Restart=always

[Install]
WantedBy=multi-user.target
