[Unit]
Description = Mail Dovecot

[Service]
Environment=SNAP_COMMON={{ app_data_dir }}
Type=simple
ExecStartPre={{ app_dir }}/bin/service.dovecot.sh pre-start
ExecStart={{ app_dir }}/bin/service.dovecot.sh start
NonBlocking=yes

[Install]
WantedBy = multi-user.target
