[Unit]
Description=mail php fpm
#Requires=owncloud-postgresql.service
#After=owncloud-postgresql.service

[Service]
User=mail
Type=forking
PIDFile=/opt/data/mail/php-fpm.pid
ExecStart=/opt/app/mail/bin/service.php-fpm.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
