[Unit]
Description = Mail Dovecot

[Service]
Environment=LD_LIBRARY_PATH={{ app_dir }}/dovecot/lib/dovecot
Type=simple
ExecStartPre=/bin/rm -rf {{ app_data_dir }}/dovecot/master.pid
ExecStart={{ app_dir }}/dovecot/sbin/dovecot -F -c {{ app_data_dir }}/config/dovecot/dovecot.conf
NonBlocking=yes

[Install]
WantedBy = multi-user.target
