[Unit]
Description=Mail Postfix
After=network.target

[Service]
Type=forking
ExecStart={{ app_dir }}/postfix/usr/sbin/postfix -c {{ app_dir }}/config/postfix start
ExecStop={{ app_dir }}/postfix/usr/sbin/postfix -c {{ app_dir }}/config/postfix stop
Restart=always

[Install]
WantedBy=multi-user.target
