[Unit]
Description=mail php fpm

[Service]
User=mail
Type=forking
PIDFile={{ app_data_dir }}/php-fpm.pid
ExecStart={{ app_dir }}/bin/service.php-fpm.sh {{ app_data_dir }}/config
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
